/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define default_layer 0
#define lower_layer 1
#define raise_layer 2
#define tri_layer 3

/ {
        conditional_layers{
                compatible = "zmk,conditional_layers";
                tri_layer{
                        if-layers = <1 2>;
                        then-layer = <3>;
                };
        };
};
/ {
        keymap {
                compatible = "zmk, keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// ||  Q  |  W  |  E  |  R  |RET T|---|  Y  |  U'  |  I[  |  O] |  P|     ||
// ||  A  |  S  |  D  |  F  |GCTRL|---|HCTRL|  J"  |  K{  |  L} |  ;:     ||
// ||  Z  |  X  |  C  |  V  | Balt|---| Nalt|  M   |  ,<  |  .> |  (/?)\  ||
//              | GUI | LWR | SPC |---| BKSP|RSHFT | RSE  |
                        bindings = <
   &none &kp Q &kp W &kp E    &kp R &mt RET T   &kp Y       &mt APOS U    &mt LEFT_BRACKET I &mt RIGHT_BRACKET O   &mo PIPE P      &none
   &none &kp A &kp S &kp D    &kp F &mt CTRL G  &mt CTRL H  &mt " J       &mt LEFT_BRACE K   &mt RIGHT_BRACE L     &kp SEMI        &none
   &none &kp Z &kp X &kp C    &kp V &mt LALT B  &mt RALT N  &kp  M        &kp COMMA          &kp DOT               &mo BSLH FSLH   &none
                     &kp LGUI &mo 1 &kp SPACE   &kp BKSP    &kp RSHFT     &mo 2
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// ||PGUP  | ESC |GRAVE|  f5 | DEL |---|  7&  | 8*  | 9( | *   |  /  ||
// ||PGDOWN| TAB | HOME|  UP | END |---|  4$  | 5%  | 6^ | = + |     ||
// ||  INS |LCTRL| LFT | DWN | RGT |---|  1!  | 2@  | 3# | ,   | SHFT||
//               |trans|trans|trans|---| RET  | 0)  |  . |
                        bindings = <
   &none &kp PG_UP &kp ESC    &kp GRAVE &kp f5    &kp DEL     &kp N7  &kp N8 &kp N9 &mp MINUS &kp FSLH  &none
   &none &kp PG_DN &kp TAB    &kp HOME  &kp UP    &kp END     &kp N4  &kp N5 &kp N6 &kp EQUAL &none     &none
   &none &kp INS   &kp LCTRL  &kp LEFT  &kp DOWN  &kp RIGHT   &kp N1  &kp N2 &kp N3 &kp COMMA &kp RSHFT &none
                              &trans    &trans    &trans      &kp RET &kp N0 &kp DOT
                        >;
                };
                raise_layer {
// -----------------------------------------------------------------------------------------
// ||     |     |TILDE|     |     |---|  ^  |  &  |  *  |  (  |  )  ||
// ||     |     |GRAVE|LSHFT|LCTRL|---|  -  |  =  |  [  |  ]  |  \  ||
// ||     |     |     | TAB |LALT |---|  _  |  +  |  {  |  }  | "|" ||
//              |trans|trans|trans|---|trans|trans|trans|
                        bindings = <
   &none &none  &none &kp TILDE &none     &none       &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &none
   &none &none  &none &kp GRAVE &kp LSHFT &kp LCTRL   &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &none
   &none &none  &none &none     &kp TAB   &LALT       &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &none
                      &trans    &trans    &trans      &trans    &trans    &trans
                        >;
                };
                tri_layer {
// -----------------------------------------------------------------------------------------
// ||BT_CLR|BT1   |BRIUP |BRIDN |none  |---|  f1 | f2  |  f3 |  f4 |     |
// ||BT2   |BT3   |NEXT  |Prev  |none  |---|  f5 | f6  |  f7 |  f8 |     |
// ||BT4   |BT5   |VOLUP | MUTE |VOLDWN|---|  f9 | f10 | f11 | f12 |     |
//                |trans |trans |none  |---|trans|trans|trans|
                        bindings = <
   &none &bt BT_CLR   &bt BT_SEL 0 &kp C_BRI_UP &kp C_BRI_DN  &none         &kp f1   &kp f2  &kp f3  &kp f4  &none &none
   &none &bt BT_SEL 1 &bt BT_SEL 2 &kp C_NEXT   &kp C_PREV    &none         &kp f5   &kp f6  &kp f7  &kp f8  &none &none 
   &none &bt BT_SEL 3 &bt BT_SEL 4 &kp C_VOL_UP &kp C_Mute    &kp C_VOL_DN  &kp f9   &kp f10 &kp f11 &kp f12 &none &none 
                                   &kp trans    &trans        &trans        &trans  &trans   &kp trans
                        >;
                };
        };
};
